---
import NewsCard from "@/components/NewsCard.astro";
import CourseCard from "@/components/CourseCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Slideshow } from "@/components/Slideshow";
import Sponsors from "@/components/Sponsors.astro";
import { getCollection } from "astro:content";
import { Hero } from "@/components/ui/SVGs";

const title = "Polo Tecnológico de La Rioja";

const allNews = await getCollection("news");
const allCourses = await getCollection("courses");
const showcasedNews = allNews.filter((news) => news.data.showcase === true);
const activeCourses = allCourses.filter(
    (course) => course.data.active === true
);
---

<BaseLayout title={title}>
    <section
        class="w-full max-w-screen-xl grid grid-cols-1 lg:grid-cols-[1fr_2fr]"
    >
        <div
            class="h-full min-h-[60vh] flex items-center justify-center px-2 py-14 bg-[url(https://utfs.io/f/70cc0796-523b-4368-91b8-e4e163fa0054-a8actd.svg)] bg-cover lg:bg-none"
        >
            <h1 class="text-6xl lg:text-8xl font-black">
                Polo Tecnológico
                <span
                    class="bg-gradient-to-r from-pink-900 to-red-500 text-transparent bg-clip-text"
                    >La Rioja</span
                >
            </h1>
        </div>
        <div class="h-full w-full hidden lg:flex items-center">
            <Hero className="w-11/12 h-11/12" strokeWidth={3} />
        </div>
    </section>

    <section class="w-full flex flex-col items-center py-10 bg-red-500">
        <div
            class="w-full max-w-screen-xl flex flex-col gap-6 md:gap-12 border-x px-4 border-red-300"
        >
            <h2 class="text-white text-2xl md:text-5xl font-bold">Novedades</h2>
            <div
                class="grid grid-cols-1 lg:grid-cols-2 items-center gap-2 md:gap-4"
            >
                {
                    showcasedNews.map((news) => (
                        <NewsCard
                            title={news.data.title}
                            headline={news.data.headline}
                            url={news.slug}
                            src={news.data.image.src}
                            alt={news.data.image.alt}
                        />
                    ))
                }
            </div>

            <div>
                <Slideshow client:visible />
            </div>

            <h2 class="text-white text-2xl md:text-5xl font-bold">
                Plan de Formación con Empleabilidad 2024
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4">
                {
                    activeCourses.map((course) => (
                        <CourseCard
                            title={course.data.title}
                            description={course.data.description}
                            url={course.data.url}
                            src={course.data.image.src}
                            alt={course.data.image.alt}
                        />
                    ))
                }
            </div>
        </div>
    </section>

    <section
        class="w-full max-w-screen-xl grid grid-cols-2 md:grid-cols-4 px-2 gap-20 md:gap-24 pt-16 pb-24"
    >
        <Sponsors />
    </section>
</BaseLayout>
