---
import Hero from "@/components/ui/svgs/Hero.astro";
import NewsCard from "@/components/NewsCard.astro";
import CourseCard from "@/components/CourseCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Slideshow } from "@/components/Slideshow";
import Sponsors from "@/components/Sponsors.astro";
import { getCollection } from "astro:content";

const title = "Polo Tecnológico de La Rioja";

const allNews = await getCollection("news");
const allCourses = await getCollection("courses");
---

<BaseLayout title={title}>
    <section class="w-[1280px] grid grid-cols-[1fr_2fr] py-14">
        <div class="h-full flex items-center">
            <h1 class="text-8xl font-black">
                Polo Tecnológico
                <span
                    class="bg-gradient-to-r from-pink-900 to-red-500 text-transparent bg-clip-text"
                    >La Rioja</span
                >
            </h1>
        </div>
        <div class="h-full w-full flex items-center">
            <Hero styles="w-11/12 h-11/12" />
        </div>
    </section>

    <section class="w-full flex flex-col items-center py-10 bg-red-500">
        <div
            class="w-[1280px] flex flex-col gap-12 border-x px-4 border-red-300"
        >
            <h2 class="text-white text-5xl font-bold">Novedades</h2>
            <div class="grid grid-cols-2 items-center gap-4">
                {
                    allNews.map((news) => (
                        <NewsCard
                            title={news.data.title}
                            headline={news.data.headline}
                            url={news.slug}
                            src={news.data.image.src}
                            alt={news.data.image.alt}
                        />
                    ))
                }
            </div>

            <div>
                <Slideshow client:visible />
            </div>

            <h2 class="text-white text-5xl font-bold">
                Plan de Formación con Empleabilidad 2024
            </h2>
            <div class="grid grid-cols-2 gap-4">
                {
                    allCourses.map((course) => (
                        <CourseCard
                            title={course.data.title}
                            description={course.data.description}
                            url={course.data.url}
                            src={course.data.image.src}
                            alt={course.data.image.alt}
                        />
                    ))
                }
            </div>
        </div>
    </section>

    <section class="w-[1280px] grid grid-cols-4 gap-24 pt-16 pb-24">
        <Sponsors />
    </section>
</BaseLayout>
