---
interface Props {
    title: string;
    toDate: string;
    description: string;
    url: string;
}

const { title, toDate, description, url } = Astro.props;
---

<div class="p-4 rounded-lg flex flex-col gap-2 bg-white w-full md:w-4/5">
    <div>
        <h3 class="lg:text-xl font-medium pb-4 border-b border-red-300">
            {title}
        </h3>
    </div>
    <div class="hidden md:grid grid-cols-[1fr_3fr] text-sm pt-2">
        <div class="flex flex-col gap-4 justify-between font-medium">
            <p>Fecha límite</p>
            <p>Descripción</p>
            <p>Link</p>
        </div>
        <div class="flex flex-col gap-4 justify-between">
            <p>{toDate}</p>
            <p>
                {description}
            </p>
            <a
                class="hover:text-red-500 transition-colors duration-150 line-clamp-1"
                href={url}
                target="_blank"
            >
                {url}
            </a>
        </div>
    </div>
    <div class="flex flex-col gap-2 md:hidden">
        <div class="text-sm flex flex-col gap-1">
            <p class="font-medium">Fecha límite</p>
            <p>{toDate}</p>
        </div>
        <div class="text-sm flex flex-col gap-1">
            <p class="font-medium">Descripción</p>
            <p>{description}</p>
        </div>
        <div class="text-sm flex flex-col gap-1">
            <p class="font-medium">Link</p>
            <a
                class="hover:text-red-500 transition-colors duration-150 line-clamp-1"
                href={url}
                target="_blank">{url}</a
            >
        </div>
    </div>
</div>
