---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

interface Props {
    frontmatter: {
        body: string;
        data: {
            title: string;
            headline: string;
            image: {
                src: string;
                alt: string;
            };
        };
    };
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.data.title}>
    <section
        class="h-full lg:max-w-[1280px] flex flex-col justify-center gap-4 py-6 lg:gap-10 lg:py-10 px-2"
    >
        <div
            class="h-[300px] md:h-[450px] lg:h-[600px] flex flex-col items-center justify-center rounded-xl relative overflow-clip"
        >
            <div
                class="bg-zinc-950 opacity-55 h-full w-full absolute top-0 z-10"
            >
            </div>
            <Image
                src={frontmatter.data.image.src}
                alt={frontmatter.data.image.alt}
                width={100}
                height={100}
                class="w-auto h-auto"
            />
            <div
                class="w-5/6 flex flex-col gap-2 md:gap-8 absolute top-1/2 left-1/2 -translate-x-[50%] -translate-y-[50%] z-50"
            >
                <h1 class="text-2xl md:text-5xl text-white font-bold">
                    {frontmatter.data.title}
                </h1>
                <h2 class="text-sm md:text-lg text-zinc-100 font-medium">
                    {frontmatter.data.headline}
                </h2>
            </div>
        </div>

        <slot />
    </section>
</BaseLayout>
